<form [formGroup]="form" class="text-sm" (ngSubmit)="submit()" ngNativeValidate>
    <div class="mb-5">
        <label for="name">Nome</label>
        <input id="name" type="text" placeholder="Nome do País" class="form-input" formControlName="name" />
        @if(nameError) {
        <div data-testid="name-validation" class="text-danger">
            {{ nameError }}l
        </div>
        }
    </div>
    <div class="mb-5">
        <label for="blockId">Bloco</label>
        <ng-select typeToSearchText="Pesquisar..." [items]="countryDropdown.data" [loading]="countryDropdown.loading"
            bindLabel="name" bindValue="id" formControlName="blockId" [clearable]="false" placeholder="Pessoa"
            [typeahead]="countryDropdown.searchTerm$" (search)="countryDropdown.searchTerm$.next($event.term)"
            (scrollToEnd)="countryDropdown.loadMore()">
        </ng-select>
        @if(countryIdError) {
        <div data-testid="countryId-validation" class="text-danger">
            {{ countryIdError }}
        </div>
        }
    </div>

    <div class="mt-8 flex items-center justify-end">
        @if(modal) {
        <button type="button" class="btn btn-outline-danger" (click)="closeModal()">Cancelar</button>
        }
        @if(!readOnly) {
        <button type="submit" class="btn btn-primary ltr:ml-4 rtl:mr-4">{{ model ? 'Actualizar' : 'Salvar' }}</button>
        }

    </div>
</form>